temporalio==1.4.0
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.4.2
# motor==3.3.1 # Tạm thời comment motor vì chưa dùng đến MongoDB
redis==5.0.1
asyncpg==0.29.0 # Thư viện async cho Postgres
# dotenv-python==0.0.1 # Để đọc file .env
python-dotenv # Thay thế dotenv-python
